#LayerArmorBase
public net.minecraft.client.renderer.entity.layers.LayerArmorBase field_177187_e #alpha
public net.minecraft.client.renderer.entity.layers.LayerArmorBase field_177184_f #colorR
public net.minecraft.client.renderer.entity.layers.LayerArmorBase field_177185_g #colorG
public net.minecraft.client.renderer.entity.layers.LayerArmorBase field_177192_h #colorB

#GuiContainer
public net.minecraft.client.gui.inventory.GuiContainer field_147003_i #guiLeft
public net.minecraft.client.gui.inventory.GuiContainer field_147009_r #guiTop

#PlayerControllerMP
public net.minecraft.client.multiplayer.PlayerControllerMP field_78770_f #curBlockDamageMP

#InventoryCrafting
public net.minecraft.inventory.InventoryCrafting field_70465_c #eventHandler

#ContainerPlayer
public net.minecraft.inventory.ContainerPlayer field_82862_h #thePlayer

#SlotCrafting
public net.minecraft.inventory.SlotCrafting field_75238_b #thePlayer

#RendererLivingEntity
public net.minecraft.client.renderer.entity.RendererLivingEntity field_177097_h #layerRenderers

#NetworkPlayerInfo
public net.minecraft.client.network.NetworkPlayerInfo field_178865_e #locationSkin
public net.minecraft.client.network.NetworkPlayerInfo field_178862_f #locationCape

#AbstractClientPlayer
public net.minecraft.client.entity.AbstractClientPlayer func_175155_b()Lnet/minecraft/client/network/NetworkPlayerInfo; # getPlayerInfo

#ItemSword
public net.minecraft.item.ItemSword field_150933_b #material
public net.minecraft.item.ItemSword field_150934_a #attackDamage

#ItemArmor
public net.minecraft.item.ItemArmor field_77878_bZ #material

#EntityZombie
public net.minecraft.entity.monster.EntityZombie func_82228_a(I)V #startConversion

#EntityAnimal
public net.minecraft.entity.passive.EntityAnimal field_70881_d #inLove

#MobSpawnerBaseLogic
public net.minecraft.tileentity.MobSpawnerBaseLogic field_98286_b #spawnDelay
public net.minecraft.tileentity.MobSpawnerBaseLogic field_98290_m #spawnRange
public net.minecraft.tileentity.MobSpawnerBaseLogic field_98294_i #spawnCount
public net.minecraft.tileentity.MobSpawnerBaseLogic field_98289_l #activatingRangeFromPlayer
public net.minecraft.tileentity.MobSpawnerBaseLogic func_98276_e()Ljava/lang/String; #getEntityNameToSpawn
public net.minecraft.tileentity.MobSpawnerBaseLogic func_98279_f()Z #isActivated
public net.minecraft.tileentity.MobSpawnerBaseLogic func_98273_j()V #resetTimer